@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-fog text-ink font-body;
}

main {
  min-height: calc(100vh - 4rem);
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
